@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Josefin+Slab&family=Montserrat:ital,wght@0,100;1,200&display=swap');

body, p {
  background: white;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

header, main {
  margin: 2rem;
}

/* Swatches */
.swatchgrid {
  display: flex;
  flex-wrap: wrap;
}

.swatchgrid.colors li {
  width: 20%;
  height: 100px;
  box-sizing: border-box;
  margin: auto;
}

.swatchgrid.textures li {
  width: 33%;
  box-sizing: border-box;
  height: 200px;
  margin: auto;
}


.color-swatch-1 {
  background: rgb(181, 178, 232);
}

.color-swatch-2 {
  background: rgb(139, 216, 148);
}

.color-swatch-3 {
  background: rgb(184, 241, 156);
}

.color-swatch-4 {
  background: rgb(74, 75, 74);
}

.color-swatch-5 {
  background: rgb(123, 125, 124);
}


.texture-swatch-1 {
    background-color: #b8f19c;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
    background-size:100px 100px, 100px 100px, 10px 10px, 10px 10px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.texture-swatch-2 {
  background-color: #4a4b4a;
  background-image: url("https://www.transparenttextures.com/patterns/merely-cubed.png");
    background-size:75px 100px;
}

.texture-swatch-3 {
  background-color: #7b7d7c;
background-image: url("https://www.transparenttextures.com/patterns/gray-sand.png");
    background-size: 20px 20px;
}


/* Typography */

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font:  4em/1 "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: .75em;
    color: rgb(74, 75, 74);
}
h2 {
    font: 1.3em "Montserrat", sans-serif;
    color: rgb(74, 75, 74);
}
  
h3 {
  font: 500 2.4em/1.25 "Josefin Sans", sans-serif;
  color: rgb(123, 125, 124);
}

h4 {
  font: italic 1.5em/1.25 "Monstserrat", sans-serif;
  color: rgb(123, 125, 124);
}

p, .body-copy {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #222;
  margin-bottom: 1em;
}
.body-copy strong {
  font-weight: 600;
}
.body-copy em {
  font-style: italic;
}

/* Values: Can your colors and fonts communicate a value? */
.adjectives p {
  margin-top: 10px;
  font-family: "Open Sans", serif;
}
.adjective-1 {
  color: #528797;
}

.adjective-2 {
  color: #208F5A;
}

.adjective-3 {
  color: #002C29;
}


/* Buttons */
.button-1, .button-2 {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 4px;
}

.button-1 {
  background: rgb(184, 241, 156);
  text-align: center;
  text-decoration: none;
  font: bold 0.9em "Monstserrat", sans-serif;
  letter-spacing: 1px;
  color: rgb(139, 216, 148);
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #ffffff;
  transition: all .2s ease;
}
.button-1:hover {
  background: #125033;
}

.button-2 {
  background: rgb(123, 125, 124);
  text-align: center;
  text-decoration: none;
  font: 0.9em "Monstserrat", sans-serif;
  letter-spacing: 1px;
  color:  rgb(181, 178, 232);
  text-transform: uppercase;
  text-shadow: 0px -1px 0px white;
  transition: all .2s ease;
}

.button-2:hover {
  background: black;
}